:host {
    padding: 10px;
    background: var(--sys-primary-container);
    color: var(--sys-on-primary-container);
    position: absolute;
    right: 5px;
    top: 100px;
    width: 300px;
    z-index: 2;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.calendar-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16;
    border-radius: 8px;
}

.calendar-panel-header {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: move;
}

.inline-calendar {  
    border-radius: 10px;
    width: 300px;
    background-color: var(--sys-surface-container);
    color: var(--sys-inverse-surface);
}

