
.example-tab-icon {
  margin-right: 8px;
}

.basic-tab-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.attribute-tab-content {
  display: inline-flex;
  height: 400px;
  
  .assets-list {
    overflow-y: scroll;
    overflow-x:hidden;
  }

  .attributes-list {
    width: max-content;
    overflow: auto;
  }
}

.advanced-tab-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .no-properties {
    font-size: medium;
    padding: 10px;
    align-items: center;
  }
}

.selected {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 5px;
  border-style: solid;
  border-color: var(--sys-outline);
  background-color: var(--sys-secondary-container);
}

.asset-list-item:hover {
  background-color: var(--sys-on-primary);
}

.no-attributes-info {
  padding: 10px;
  align-items: center;
}
