version: '2.4'
services:
  api:
    image: 'factorycockpit/api:1.0.0'
    container_name: factorycockpitapi
    mem_limit: 128mb
    expose:
      - "3000"
    ports:
      - "50081:3000"
    restart: unless-stopped
    networks:
      - proxy-redirect
    volumes:
      - factorycockpit-database:/usr/src/app/database
  
  frontend:
    image: 'factorycockpit/frontend:1.0.0'
    container_name: factorycockpitfront
    mem_limit: 512mb
    ports:
      - "50080:80"
    restart: unless-stopped
    networks:
      - proxy-redirect
    depends_on:
      - api

volumes:
  factorycockpit-database:

networks:
  proxy-redirect:
    external: true
    name: proxy-redirect
    