version: '2.4'
services:
  api:
    image: 'factorycockpit/api:1.0.0'
    container_name: factorycockpitapi
    mem_limit: 128mb
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "2"
    expose:
      - "8500"
    restart: unless-stopped
    networks:
      - proxy-redirect
    volumes:
      - factorycockpit-database:/usr/src/app/database
  
  frontend:
    image: 'factorycockpit/frontend:1.0.0'
    container_name: factorycockpitfront
    mem_limit: 512mb
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "2"
    ports:
      - "50080:8580"
    restart: unless-stopped
    networks:
      - proxy-redirect
    depends_on:
      - api

##### NETWORKS #####
networks:
  proxy-redirect:
    external:
      name: proxy-redirect
    driver: bridge

##### VOLUMES #####
volumes:
  factorycockpit-database:
    