.header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnExport {
    margin: 5px;
}

.btnDashboards {
    margin: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.file-input {
  display: none;
}

button {
    margin: 5px;
}

.report-info {
    display: flex;
    justify-content: center;
    align-items: center;

    > h2 {
        display: flex;
    }

    > p {
        padding-left: 20px;
        padding-top: 5px;
        justify-content: center;
        display: flex;
    }

    mat-icon {
        font-size: medium;
        padding-left: 5px;
        padding-top: 3px;
        padding-right: 1px;
    }

}