.header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnExport {
    margin: 5px;
}

.btnDashboards {
    margin: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.file-input {
  display: none;
}

button {
    margin: 5px;
}