<div class="header">

    <div class="report-info">
        <h2 class="mat-title-large">Dashboard {{dashboardname()}}</h2>

        @if(!isOnline) {
            <p>({{selectedDate()|date}} <mat-icon>today</mat-icon>)</p> 
        } @else {
            <p><mat-icon data-html2canvas-ignore matTooltip="Live data" class="online-icon">online_prediction</mat-icon></p>
        }
          
    </div>
    

    <div class="spacer"></div>

    <!-- Datepicker -->
    <button mat-icon-button data-html2canvas-ignore (click)="calendarOpen.set(!calendarOpen())" matTooltip="Select date">
        @if (calendarOpen()) {
            <mat-icon>edit_calendar</mat-icon>
        } @else {
            <mat-icon>calendar_month</mat-icon>
        }
    </button>
    <app-calendar-panel cdkDrag [hidden]="!calendarOpen()" (selectedDate)="changeDate($event)"></app-calendar-panel>
    <!-- End datepicker -->

    <button mat-icon-button data-html2canvas-ignore class="btnImport" (click)="saveDashboard()" matTooltip="Save dashboard"><mat-icon>save</mat-icon></button>
    <button mat-icon-button data-html2canvas-ignore class="btnExportPDF" (click)="exportPDF()" matTooltip="Export to PDF"><mat-icon>picture_as_pdf</mat-icon></button>
    <button mat-icon-button data-html2canvas-ignore class="btnExport" (click)="exportDashboard()" matTooltip="Download dashboard"><mat-icon>file_download</mat-icon></button>
    <button mat-icon-button data-html2canvas-ignore (click)="widgetsOpen.set(!widgetsOpen())" matTooltip="Add widget">
        @if (widgetsOpen()) {
            <mat-icon>close</mat-icon>
        } @else {
            <mat-icon>add_circle</mat-icon>
        }
    </button>
    @if (widgetsOpen()) {
        <app-widgets-panel cdkDropList (cdkDropListDropped)="widgetPutBack($event)" cdkDrag></app-widgets-panel>
    }
</div>
