<div class="header">
    <h2 class="mat-title-large">Dashboard - {{dashboardname()}}</h2>
    <div class="spacer"></div>
    <button mat-raised-button class="btnImport" (click)="saveDashboard()"><mat-icon>save</mat-icon> Save</button>
    <button mat-raised-button disabled class="btnExport" (click)="exportDashboard()"><mat-icon>file_download</mat-icon> Export</button>
    <button mat-raised-button (click)="widgetsOpen.set(!widgetsOpen())">
        @if (widgetsOpen()) {
            <mat-icon>close</mat-icon>
        } @else {
            <mat-icon>add_circle</mat-icon>
        }
        Widgets
    </button>
    @if (widgetsOpen()) {
        <app-widgets-panel cdkDropList (cdkDropListDropped)="widgetPutBack($event)" cdkDrag></app-widgets-panel>
    }
</div>
