
.timestamp-text {
    font-size: smaller !important;
}

h3.mat-mdc-list-item-title {
    font-size: large !important;
    color: var(--sys-on-secondary-container) !important;
}

.list-item {
    border-left: 5px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: var(--sys-outline);
}

