.row {
    font-size: 2rem;
    display:flex; 
}

.stat {
    padding-right: 5px;
    padding-top: 5px;
}

.text-green {
    padding-top: 5px;
    color: var(--sys-inverse-primary);
}

.text-red {
    padding-top: 5px;
    color: var(--sys-on-error);
}

.stat-subtext {
    font-size: smaller;
}