/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();


.cdk-drop-list-dragging {
  opacity: 0.5;
  border-left: 5px solid var(--sys-outline);
  padding-left: 5px;
}

.text-dim-dark-gray {
  color: #606060;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2, h3, h4 {
  font-family: normal;
}

$custom-theme: mat.define-theme(
  (
    color: (
      // theme-type: light,
      // primary: mat.$azure-palette,
      use-system-variables: true,
    ),
  )
);

/* https://material-foundation.github.io/material-theme-builder/ */

.dark {
  --sys-primary: rgb(113 219 158);
  --sys-surface-tint: rgb(113 219 158);
  --sys-on-primary: rgb(0 57 31);
  --sys-primary-container: rgb(0 134 81);
  --sys-on-primary-container: rgb(247 255 246);
  --sys-secondary: rgb(167 208 179);
  --sys-on-secondary: rgb(17 55 35);
  --sys-secondary-container: rgb(43 81 58);
  --sys-on-secondary-container: rgb(153 194 165);
  --sys-tertiary: rgb(188 194 255);
  --sys-on-tertiary: rgb(24 36 126);
  --sys-tertiary-container: rgb(97 109 199);
  --sys-on-tertiary-container: rgb(255 251 255);
  --sys-error: rgb(255 180 171);
  --sys-on-error: rgb(105 0 5);
  --sys-error-container: rgb(147 0 10);
  --sys-on-error-container: rgb(255 218 214);
  --sys-background: rgb(15 21 17);
  --sys-on-background: rgb(222 228 221);
  --sys-surface: rgb(15 21 17);
  --sys-on-surface: rgb(222 228 221);
  --sys-surface-variant: rgb(62 74 65);
  --sys-on-surface-variant: rgb(189 202 190);
  --sys-outline: rgb(135 148 137);
  --sys-outline-variant: rgb(62 74 65);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(222 228 221);
  --sys-inverse-on-surface: rgb(44 50 45);
  --sys-inverse-primary: rgb(0 109 65);
  --sys-primary-fixed: rgb(141 248 184);
  --sys-on-primary-fixed: rgb(0 33 16);
  --sys-primary-fixed-dim: rgb(113 219 158);
  --sys-on-primary-fixed-variant: rgb(0 82 48);
  --sys-secondary-fixed: rgb(194 237 206);
  --sys-on-secondary-fixed: rgb(0 33 16);
  --sys-secondary-fixed-dim: rgb(167 208 179);
  --sys-on-secondary-fixed-variant: rgb(41 78 56);
  --sys-tertiary-fixed: rgb(223 224 255);
  --sys-on-tertiary-fixed: rgb(0 12 97);
  --sys-tertiary-fixed-dim: rgb(188 194 255);
  --sys-on-tertiary-fixed-variant: rgb(49 61 149);
  --sys-surface-dim: rgb(15 21 17);
  --sys-surface-bright: rgb(53 59 54);
  --sys-surface-container-lowest: rgb(10 15 12);
  --sys-surface-container-low: rgb(23 29 25);
  --sys-surface-container: rgb(27 33 29);
  --sys-surface-container-high: rgb(38 43 39);
  --sys-surface-container-highest: rgb(48 54 49);
  --app-kpi-green: rgb(7, 152, 94);
  --app-kpi-yellow: rgb(156, 159, 11);
  --app-kpi-red: rgb(255 180 171);
}


html {
  --sys-primary: rgb(0 106 63);
  --sys-surface-tint: rgb(0 109 65);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(0 134 81);
  --sys-on-primary-container: rgb(247 255 246);
  --sys-secondary: rgb(65 102 78);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(194 237 206);
  --sys-on-secondary-container: rgb(70 109 84);
  --sys-tertiary: rgb(72 84 172);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(97 109 199);
  --sys-on-tertiary-container: rgb(255 251 255);
  --sys-error: rgb(186 26 26);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(255 218 214);
  --sys-on-error-container: rgb(147 0 10);
  --sys-background: rgb(245 251 243);
  --sys-on-background: rgb(23 29 25);
  --sys-surface: rgb(245 251 243);
  --sys-on-surface: rgb(23 29 25);
  --sys-surface-variant: rgb(217 230 218);
  --sys-on-surface-variant: rgb(62 74 65);
  --sys-outline: rgb(110 122 112);
  --sys-outline-variant: rgb(189 202 190);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(44 50 45);
  --sys-inverse-on-surface: rgb(237 242 235);
  --sys-inverse-primary: rgb(113 219 158);
  --sys-primary-fixed: rgb(141 248 184);
  --sys-on-primary-fixed: rgb(0 33 16);
  --sys-primary-fixed-dim: rgb(113 219 158);
  --sys-on-primary-fixed-variant: rgb(0 82 48);
  --sys-secondary-fixed: rgb(194 237 206);
  --sys-on-secondary-fixed: rgb(0 33 16);
  --sys-secondary-fixed-dim: rgb(167 208 179);
  --sys-on-secondary-fixed-variant: rgb(41 78 56);
  --sys-tertiary-fixed: rgb(223 224 255);
  --sys-on-tertiary-fixed: rgb(0 12 97);
  --sys-tertiary-fixed-dim: rgb(188 194 255);
  --sys-on-tertiary-fixed-variant: rgb(49 61 149);
  --sys-surface-dim: rgb(214 220 212);
  --sys-surface-bright: rgb(245 251 243);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(240 245 238);
  --sys-surface-container: rgb(234 239 232);
  --sys-surface-container-high: rgb(228 234 226);
  --sys-surface-container-highest: rgb(222 228 221);
  --app-kpi-green: rgb(0 134 81);
  --app-kpi-yellow: rgb(205, 208, 46);
  --app-kpi-red: rgb(186 26 26);


  @include mat.core-theme($custom-theme);
  @include mat.toolbar-theme($custom-theme);
  @include mat.button-theme($custom-theme);
  @include mat.icon-button-theme($custom-theme);
  @include mat.sidenav-theme($custom-theme);
  @include mat.tabs-theme($custom-theme);
  @include mat.list-theme($custom-theme);
  @include mat.card-theme($custom-theme);
  @include mat.select-theme($custom-theme);
  @include mat.form-field-theme($custom-theme);
  @include mat.button-toggle-theme($custom-theme);
  @include mat.menu-theme($custom-theme);
  @include mat.divider-theme($custom-theme);

  @include mat.all-component-themes($custom-theme);
}



