.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f6fb;

  mat-card {
    width: 350px;
    padding: 2rem 2rem 1.5rem 2rem;
    box-shadow: 0 6px 18px #0002;
    border-radius: 16px;

    h1 {
      margin: 0 0 1.5rem 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    .full-width {
      width: 100%;
    }
  }
}