
:host {
    padding: 10px;
    background: var(--sys-primary-container);
    color: var(--sys-on-primary-container);
    position: absolute;
    right: 5px;
    top: 100px;
    width: 200px;
    z-index: 2;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.widget-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--sys-surface-container);
    color: var(--sys-inverse-surface);
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-size: 0.8rem;
}

.widget-box:hover {
    background-color: var(--sys-surface-container-high);
}

.widgets-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16;
    border-radius: 8px;
}

.widgets-panel-header {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: move;
}

.library-item {
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 10px;

    > p {
        padding-left: 10px;
    }
 

}