
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    cursor: move;

    .settings-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .details-button {
        position: absolute;
        top: 10px;
        right: 45px;
    }
}