<div class="header">
    <h2 class="mat-title-large">Dashboards list</h2>
    <div class="spacer"></div>
    <input type="file" type="file" accept=".json" class="file-input"(change)="onFileSelected($event)" #fileUpload>
    <button mat-icon-button disabled class="btnImport" (click)="fileUpload.click()" matTooltip="Import Dashboard"><mat-icon>file_upload</mat-icon></button>
    <button mat-icon-button class="btnNew" (click)="createNewDashboard()" matTooltip="New Dashboard"><mat-icon>add_circle</mat-icon></button>
</div>
