
:host {
    display: block;
    border-radius: 16px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: inherit;
    overflow: hidden;

    border-style: solid;
    border-width: 1px;
    border-color: var(--sys-secondary);
}

.settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
